
.loginTable {
  width: 30%;
  height: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.inputBox {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f2f2f2;
}

.loginButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  font-size: 16px;
}

.registerButton {
  color: #af4c82;
  padding: 5px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  font-size: 16px;
}